@font-face {
  font-family: 'Founders Grotesk';
  src: url(/fonts/FoundersGrotesk-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk Light';
    src: url(/fonts/FoundersGrotesk-Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk Bold';
  src: url(/fonts/FoundersGrotesk-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk Cond';
    src: url(/fonts/FoundersGroteskCond-Lt.otf);
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Founders Grotesk Web', sans-serif;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  }
  
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
  background-color: #fdfaf3;
  border-radius: 10px;
}

nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(163, 255, 168, 0.949);
}

/* home page */
.home {
  width: 100%;
  margin: 0;
}

.home-top {
  height: 25vh;
  background-color: rgba(163, 255, 168, 0.95);
  display: flex;
  flex-direction: row;
}

.home-top-img {
  background-image: url(../public/spotify-logo-png.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: auto;
}

.home-top-title {
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: flex-end;
  width: 60%;
  padding-right: 1rem;
}

.home-top-title > h2 {
  text-align: center;
}

.playlists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.playlist {
  height: 25vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playlist-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  align-items: flex-end;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.playlist-link {
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  cursor: pointer;
}

.playlist-name {
  font-size: 20px;
}

.playlist-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.playlist-track-count {
  font-size: 18px;
}

.active {
  opacity: 0;
}

@media screen and (min-width: 450px) {
  .active {
    opacity: 1;
  }
}

@media screen and (min-width: 960px) {
  .home-top-title {
    font-size: 36px;
    padding-right: 4rem;
  }

  .playlists {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }

  .playlist-link {
    font-size: 24px;
  }

  .playlist-name {
    font-size: 28px;
    padding-bottom: 0.5rem;
  }

  .playlist-track-count {
    font-size: 24px;
  }
}

/* details page */
.details {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.details-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}


.details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.details-top {
  height: 50vh;
  display: flex;
  width: 100%;
  position: relative;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.details-top:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(../public/det-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.details-top > h3 {
  font-family: 'Founders Grotesk Bold', sans-serif;
  text-align: left;
  font-size: 48px;
  color: #ffffff;
  position: relative;
  padding-left: 0.56rem;
  padding-bottom: 1rem;
  opacity: 0;
}

.tracks-list {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.track {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e9e9e9;
  box-shadow: 0px 4px 12px 1px #d8d8d8;
}

.track-image-container {
  max-height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  overflow: auto;
}

.track-image {
  max-width: 100%;
  max-height: 100%;
}

.track-info {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 0.1rem;
}

.track-name {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0.4rem;
}

.track-artist {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
}

.track-artist-text {
  font-family: 'Founders Grotesk Light', sans-serif;
  font-size: 15px;
  text-align: left;
}

.track-artist-text::after {
  content: ','
}

.track-artist-text:last-child::after {
  content: ''
}

.track-popularity-play {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.track-popularity {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Founders Grotesk Cond', sans-serif;
}

.track-play-btn {
  font-size: 20px;
  display: flex;
  margin-left: 25px;
  cursor: pointer;
  justify-self: center;
}

@media only screen and (max-width: 376px) {
  .tracks-list {
    gap: 8px;
  }

  .track-name {
    font-size: 13px;
  }
  
  .track-artist-text {
    font-size: 13px;
  }
}

@media only screen and (min-width: 960px) {
  .details-top > h3 {
    font-size: 48px;
  }

  .track-image-container {
    width: 6%;
  }

  .track-info {
    width: 84%;
    margin-left: 35px;
  }

  .track-name {
    font-size: 20px;
  }

  .track-artist-text {
    font-size: 20px;
  }

  .track-popularity-play {
    width: 10%;
  }

  .track-popularity {
    font-size: 28px;
  }

  .track-play-btn {
    font-size: 30px;
    margin-left: 30px;
    color: rgb(36, 187, 43);
  }
}

@media only screen and (min-width:650px) {
  .details-top > h3 {
    opacity: 1;
  }
}

.center-loader {
  height: 65vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #24bb2b, rgb(85, 85, 85));
  margin: 10px;
  animation: wave 0.8s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}